# Node environment
NODE_ENV=development

# PostgreSQL credentials
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name

# Ports configuration
NUXT_APP_PORT=3000
POSTGRES_PORT=5432
PRISMA_STUDIO_PORT=5555

# Database URL using other environment variables
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:${POSTGRES_PORT}/${POSTGRES_DB}
